<% if(locals.errors){ %>

  <% errors.forEach(function(error){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error.msg %>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
    </div>
    <% }); %>
      <% } %>

        <% if(bookings_data !='' ){ %>
          <div class="alert alert-success alert-dismissible fade show fs-4" role="alert">
            <%= bookings_data %>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                <!-- <span aria-hidden="true">&times;</span> -->
              </button>
          </div>
          <% } %>

            <% if(success_msg !='' ){ %>
              <div class="alert alert-success alert-dismissible fade show fs-4" role="alert">
                <%= success_msg %>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->
                  </button>
              </div>
              <% } %>

                <% if(error_msg !='' ){ %>
                  <div class="alert alert-danger alert-dismissible fade show fs-4" style="color:var(--bs-dark)"
                    role="alert">
                    <%= error_msg %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"
                        style="background-color:var(--bs-dark)" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                      </button>
                  </div>
                  <% } %>

                    <% if(error !='' ){ %>
                      <div class="alert alert-danger alert-dismissible fade show fs-4" role="alert">
                        <%= error %>
                          <button style="color: red!important;" type="button" class="btn-close btn-close-dark"
                            data-bs-dismiss="alert" aria-label="Close">
                            <!-- <span aria-hidden="true">&times;</span> -->
                          </button>
                      </div>
                      <% } %>