<% include ./partials/header %> 
<% const x=typeof user;%>
<div class="card card-body text-start align-items-center" style="margin-top: 25vh;">
  <div class="card card-body align-items-left" id="faqbody">
    <div class="text-center fs-1" style="cursor: pointer" onclick="showDiv(0)"><h1>F.A.Q.</h1></div>
    <div  style="display: none" id="faqp0"><h3 class="text-center">Frequently Asked Questions :D</h3></div>
    <div class="text-center">
      <button onclick="this.style.display='none'; document.getElementById('postfaqmsgForm').style.display='block';">Ask a question!</button> <br>
      <form action="/postfaqmsg" method="post" style="display:none" id="postfaqmsgForm">
        <% if (x==="object") { %> 
        <input type="text" name="userEmail" value="<%= user.email %>" style="display:none">
        <% } %>
        <input type="text" name="questionnn">
        <button>Submit your question!</button> <br>
      </form>
      
    </div>
    

  <!-- <form action="/faqdata" method="post">
    <input type="text" value="4" name="next" id="name" onclick="this.form.submit()">Next
  </form> -->
    
    <% var counter=1;%>
    <% if (faq_data) { %>
      
      <% faq_data.forEach(function(data) { %>
        <div class="d-flex flex-column m-3 <% if(counter>3){ %>hideme<%}%> " style="box-shadow: 0 0 0px 5px #00000054;font-size: 1.1em;font-weight: bold;">

          <div style="color:black;font-size: 1.5em;" id="q<%= counter %>" class="d-flex flex-row m-3">
            <p onclick="showDiv('<%= counter %>')" style=" cursor: pointer;">&#9759; <%= data.question %></p>
             <i class="fa-solid fa-thumbs-up mx-1" onclick="addlike('<%= counter%>')"></i>
              <div id="likess<%= counter %>" name="likess<%= counter %>"><%= data.likes %></div> 
              
          </div>
          <div id="faqp<%= counter%>" style="color:black;display: none" class="m-3"><%= data.response %>
            <% if (x==="object" && user.name==="ADMIN" ) { %> 
              <div>
                <form method="post" id="anotherFormSaddly<%= counter%>">Want to reply?
                  <input type="text" name="thequestion" value="<%= data.question %>" style="display:none">
                  <input type="text" name="theresponse">
                  <input type="text" name="theoneresponding" value="<%= user.name %>" style="display:none">
                  <button type="submit" value="submit" formaction="/adminpostfaqmsg">Submit</button>
                  <button type="submit" value="submit" formaction="/admindeletefaqmsg">Delete Question</button>
                </form>
              <div>
                  
              </div></div>
              <% } %></div>
          
          <iframe name="myframe" style="display:none;"></iframe> <!--  😉😜 -->
          <form action="/sendlike" method="post" id="form<%= counter %>" style="display:none" target="myframe">
            <input name="questionn" value="<%= data.question %>">
            <input name="likee" value="<%= data.likes %>">
          </form>
        </div>
        <% counter++ %>
        <% }) %>
        
      
      <%}%>

    <!-- <ul>
      <li class="faqli card fs-3 flex-row" style="cursor: pointer" onclick="showDiv(1)"><div>&#9759;</div>&#8239; Who are we and how long have we been on the market ?</li>
      <h2 class="fs-4" id="faqp1" style="display: none">Established in 2022 QualityHotel provides a restful and inspiring place to stay where guests can share our passion for food, music, art and design.</h2>
    </ul> -->
    
    

  </div>
</div>

<script>

function showDiv(number) {
  var answer = document.getElementById("faqp"+number)
  var displayAttribute = answer.style.display
  if (displayAttribute === "none") {
    answer.style.display = "block"
  } else {
    answer.style.display = "none"
  }
}

</script>

<% include ./partials/footer %>


<script defer>

function addlike(count){
  currentLikes = document.getElementById('likess'+count).innerHTML;
  currentLikes++;
  document.getElementById('likess'+count).innerHTML =currentLikes;
  // console.log(currentLikes);
  document.getElementById('form'+count).submit();
}

</script>