<% include ./partials/header %>
  <script>var bookings_data = {} </script>

  <div class="card d-flex flex-column align-items-center text-center">
    <form action="/users/checkmessages" method="post">
      <div class="dropdown">
        <select name="city" id="city" class="m-1 fs-3" style="padding: 18px">
          <option value="London">London</option>
          <option value="Gloucester">Gloucester</option>
          <option value="Birmingham">Birmingham</option>
          <option value="Manchester">Manchester</option>
        </select>

        <!-- <input type="date" name="date" id="date" class="m-1 fs-3" style="padding: 11px"> -->
        <!-- <script>
          var todaysDate = new Date().toISOString().slice(0, 10);
          document.getElementById('date').value = todaysDate;
        </script> -->


        <button type="submit" id="xxx" class="m-1 px-4 py-1 fs-2">Search</button>

      </div>
    </form>


    <table class="dataTableDB table card card-body text-center align-items-center">
      <tr class="dataTableDBth">
        <td>User Data</td>
        <td>Message</td>
      </tr>
      <% var counter=1;%>
        <% bookings_data.forEach(function(data) { %>
          <% if(data.found_data==false) {%>

    </table>
    <h1> no data found </h1>
    <% } else {%>
      <tr>
        <td>
          <div id="name<%=counter%>">
            <%= data.name %>
          </div>
          <div id="email<%=counter%>">
            <%= data.email %>
          </div>
          <div id="telephone<%=counter%>">
            <%= data.telephone %>
          </div>
          <div id="date<%=counter%>">
            <%= data.date.slice(0,10) %>
          </div>
        </td>
        <td>
          <div id="message<%=counter%>">
            <%= data.comment%>
          </div>
        </td>
        <td><i class="fa fa-edit" style="cursor: pointer;" onclick="editMessage('<%=counter%>');"></i></td>
      </tr>
      <% } counter+=1; })%>
        </table>

  </div>
<div class="myModal" id="myModal">

  <form action="" method="post">
    <div type="text" id="modalName" name="modalName" contenteditable="true"></div>
    <div type="text" id="modalEmail" name="modalEmail" contenteditable="true"></div>
    <div type="text" id="modalTelephone" name="modalTelephone" contenteditable="true"></div>
    <div type="text" id="modalDate" name="modalDate" contenteditable="true"></div>
    <div type="text" id="modalMessage" name="modalMessage" contenteditable="true"></div>
    <div class="d-flex flex-row" style="height:100px; background: transparent; justify-content: space-evenly; padding-left: 0px!important;">
      <button type="button" class="fs-5" style="padding: 1em 2em 1em 2em;" onclick="document.getElementById('myModal').style.display='none';"> Close </button>
      <button type="submit" class="fs-5" style="padding: 1em 2em 1em 2em;background: rgb(61, 189, 72);"> Save </button>
    </div>
  </form>
</div>

<script defer>
function editMessage(counter) {
  modalName = document.getElementById("name" + counter).innerText;
  modalEmail = document.getElementById("email" + counter).innerText;
  modalTelephone = document.getElementById("telephone" + counter).innerText;
  modalDate = document.getElementById("date" + counter).innerText;
  modalMessage = document.getElementById("message" + counter).innerText;

  document.getElementById("modalName").innerHTML = modalName;
  document.getElementById("modalEmail").innerHTML = modalEmail;
  document.getElementById("modalTelephone").innerHTML = modalTelephone;
  document.getElementById("modalDate").innerHTML = modalDate;
  document.getElementById("modalMessage").innerHTML = modalMessage;
  document.getElementById('myModal').style.display='block'
}

document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    document.getElementById('myModal').style.display='none';
  }
})
</script>
  </div>
  <% include ./partials/footer %>