<div class="row mt-5" style="max-width: 95vw;">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <div style="display: flex;" class="justify-content-center">
          <h1 style="color:rgb(10, 7, 7);transform: translateY(-10px);cursor: pointer;" id="loggo"
            onclick="window.location='../index'">Quality<br>Hotel</h1>
          <a href="/index"><img src="/imgs/logo.png" id="myLogo2" class="myLogo rounded" name="myLogo"
              style="height:50px; width:50px"></a>
        </div>
        <i class="fas fa-user-plus"></i> <a href="/users/register">Register</a>
      </h1>
      <%- include('./partials/messages'); -%>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
              style="background-color: rgba(0, 0, 0, 0.253);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;"
              value="<%= typeof name != 'undefined' ? name : '' %>" autocomplete="off" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
              style="background-color: rgba(0, 0, 0, 0.253);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;"
              value="<%= typeof email != 'undefined' ? email : '' %>" autocomplete="new-password" />
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter phone number"
              style="background-color: rgba(0, 0, 0, 0.253);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;"
              value="<%= typeof phone != 'undefined' ? phone : '' %>" autocomplete="off" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" autocomplete="new-password"
              style="background-color: rgba(0, 0, 0, 0.253);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;"
              value="<%= typeof password != 'undefined' ? password : '' %>" autocomplete="new-password" />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password"
              style="background-color: rgba(0, 0, 0, 0.253);box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;-webkit-box-shadow: 0 0 0px 1000px rgba(128, 123, 123, 0.377) inset;"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
          </div>
          <button type="submit" class="btn btn-success btn-block mt-1">Register</button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>